/*                                                                            
  Name: Virinchi Balabhadrapatruni                                             
  Email: Virinchi_Balabhadrapatruni@student.uml.edu                            
  UMass Lowell Computer Science, 91.461 GUI Programming I                      
  Date: 11/30/2014                                                               
  Description: CSS File created for Assignment #9.                               
*/ 

/* set font family and font size for entire page */
body, table {
    font-family: Verdana, Arial, Helvetica, sans-serif ;
    font-size: 10pt ;
    color: #EFB100;
}

body {
    background-image: url('../img/bgpic.jpg');
}

#maintitle {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}

p {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* collapse the table borders to achieve the desired effect*/
#tblGames {
    border-collapse: collapse ;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: black;
    width: 98%
}

/* add borders and padding to the table head and body cells */
#tblGames th, #tblGames td {
    border: 1px solid black ;
    padding: 2px 5px ;
}

/* reverse video header row */
#tblGames thead tr th {
    color: #EFB100 ;
    background-color: black ;
}

/* indicate that certain columns are clickable */
#tblGames thead tr th:nth-child(2),
#tblGames thead tr th:nth-child(3),
#tblGames thead tr th:nth-child(4) {
    color: black ;
    background-color: #7C8A79 ;
}

/* handle rollovers on clickable columns */
#tblGames thead tr th:nth-child(2):hover,
#tblGames thead tr th:nth-child(3):hover,
#tblGames thead tr th:nth-child(4):hover {
    cursor: pointer ;
    color: black ;
    background-color: #EFB100 ;
}

/* align all table body cells to the top of their cells*/
#tblGames tbody tr td {
    vertical-align: top ;
}

/* center the cells */
#tblGames tbody tr td{
    text-align: center ;
}

/* set no break in date string column */
#tblGames tbody tr td:nth-child(4) {
    white-space: nowrap ;
}

#tblGames tbody tr:hover {
    background-color: #EFB100;
    color:black;
}

#tblGames tbody tr td:hover {
    background-color: inherit;
}

#tblGames tbody tr {
    background-color: rgba(255,255,255,0.6)
}

#tbl, #footer, #checkbox {
    background-color: rgba(3, 175, 247, 0.4);
    margin-top: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid #EFB100;
    
}

#checkbox {
    background-color: black;
}

.cover {
    max-width: 120px;
}

/* These format the footer. */

#footer footer div{
    border: 0px;
}

#footer footer #left {
    float:left;
    width:40%;
    margin-left: 20px;
}

#footer footer #center {
    float:left;
}

#footer footer #right {
    float:right;
    margin-right: 20px;
}

#footer {
    min-height: 50px;
}

a {
    color: #7C8A79;
    text-decoration: none;
    padding-top: 30px;
}

a:hover {
    color: #EFB100;
}