<!DOCTYPE html>
<!--
    Name: Virinchi Balabhadrapatruni                                             
    Email: Virinchi_Balabhadrapatruni@student.uml.edu                            
    UMass Lowell Computer Science, 91.461 GUI Programming I                      
    Date: 11/30/2014                                                               
    Description: Modified version of Prof. Heines's
    Assignment #9 starter HTML File
-->
<html>
    <head>
        <meta charset="utf-8">
        <title>List of Zelda Games</title>

        <!-- this is version 1.2.27 -->
        <script src="js/libs/angular.js/angular.js"></script>
        
        <!-- This is the jQuery script. -->
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>

        <!-- Professor Heines's collection of utility functions -->
        <script src="js/jmh-utilities.js"></script>

        <!-- Favicon link -->
        <link rel='shortcut icon' href="favicon.ico">

        <!-- 
            The below scripts were originally written by Prof. Heines,
            and modified for this application.
        -->
        <script src="js/script.js"></script>


        <!-- filter functions for this app - created by Prof. Heines -->
        <script src="js/jmh-assn09-filters.js"></script>

        <!-- CSS Reset. Source can be found in the header of the CSS file itself. -->
        <link href="css/reset.css" rel="stylesheet">

        <!-- My CSS file for this assignment. -->
        <link rel="stylesheet" type="text/css" href="css/assignment9.css">

        <!-- CSS file for audio player. -->
        <link rel="stylesheet" type="text/css" href="AudioPlayer/css/playerskin.css">
    </head>

    <body>
        <!-- Audio player div -->
        <div id="player" ng-app="PlayerApp" ng-controller="PlayerCtrl">
            <!-- Title of Song - read from JSON -->
            <h3 id="songtitle">{{currentSongTitle}}</h3>
            <!-- Button to go to the previous song in the playlist.
                if this button is pressed on the first song,
                the cursor returns to the beginning of the song.
            -->
            <a id="prev-btn" ng-click="prevSong()">|&lt;&lt;</a>
            <!-- Audio tag (does the actual playing -->
            <audio id="audioplayer" controls autoplay ng-src="{{currentSong}}">
            </audio>
            <!-- div for next button and show playlist button -->
            <div id="controls-right">
                <!-- Button to go to the next song in the playlist
                    if this button is pressed on the last song,
                    the song goes back to the first song in the playlist.
                -->
                <a id="next-btn" ng-click="nextSong()">&gt;&gt;|</a>
                <!-- Toggles the playlist's visibility. -->
                <a id="show-playlist" ng-click="toggle()">&#9776;</a> 
            </div>
            <div id="loop">
                <!-- checkbox to select whether to loop the current song. -->
                <span>Loop: </span>
                <input type='checkbox' ng-model="loop">
            </div>
            <!-- div for list of songs. -->
            <div id="songs-list" ng-show="showSongs">
                <table id="tblSongs">
                    <tr ng-repeat="oneSubmit in jsonData.data.RECORDS">
                        <td>
                            <div id='song{{$index| increment}}' class="song" ng-click="changeSong(oneSubmit)">
                                <h3>{{oneSubmit.title}}</h3>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



        <!-- the outer view -->
        <div id='tableApp'>

            <!-- page head -->
            <h1 id="maintitle">List of games in the Legend of Zelda Franchise</h1>

            <!-- directions -->
            <p><em>Click any non-black header row cell to sort the list.</em></p>

            <!-- main controller view -->
            <div id = "tbl" ng-controller="ZeldaCtrl" >
                <!-- Inner div containing 'show cover images' checkbox and search input -->
                <div id='checkbox'>
                    <span>Show Cover Images: </span>
                    <input type='checkbox' ng-model="showImages"><br>
                    <span>Search: </span><input ng-model="query" type="text"/>

                </div>
                <!-- the table controlled by the AngularJS controller -->
                <table id="tblGames">
                    <!-- the column heads -->
                    <thead>
                        <tr>
                            <th>#</th>
                            <th ng-click="sortColumn(2)">Name</th>
                            <th ng-click="sortColumn(3)">Release<br>Date</th>
                            <th ng-click="sortColumn(4)">Platform</th>
                            <th ng-show="showImages">Cover</th>
                        </tr>
                    </thead>
                    <!-- 
                      AngularJS template for each row of the table 
                      the ng-model attribute causes the data to be re-rendered when the jsonData changes
                    -->
                    <tbody ng-model="jsonData">
                        <tr ng-repeat="oneSubmit in jsonData.data.RECORDS| orderBy : sortField : sortDescending | filter:query">

                            <!-- the built-in AngularJS loop index -->
                            <td>{{$index| increment}}</td>

                            <!-- the game's name -->
                            <td>{{oneSubmit.name}}</td>

                            <!-- 
                              The date the game was released - formatted using the AngularJS date formatter
                            -->
                            <td>{{oneSubmit.DOR| date:"MMMM d, yyyy"}}</td>
                            <td>{{oneSubmit.platform}}</td>
                            <td ng-show="showImages"><img alt='Cover for: {{oneSubmit.name}}' class='cover' ng-src='{{oneSubmit.coverURL}}'></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <!-- A footer div that contains the View Source, View CSS, and View Javascript links. -->
        <div id="footer">
            <footer>
                <div id="left">
                    <!-- Note: This link DOESN'T work in IE. -->
                    <a href="#" onClick='window.location = "view-source:" + window.location.href'>View HTML</a>
                </div>
                <div id="center">
                    <a href="css/assignment9.css">View CSS</a>
                </div>
                <div id="right">
                    <a href="json/listOfZeldaTitles.json">View JSON</a>
                </div>
            </footer>
        </div>
    </body>
</html>
