<!DOCTYPE html>
<!--
    Name: Virinchi Balabhadrapatruni                                             
    Email: Virinchi_Balabhadrapatruni@student.uml.edu                            
    UMass Lowell Computer Science, 91.461 GUI Programming I                      
    Date: 11/30/2014                                                               
    Description: Modified version of Prof. Heines's
    Assignment #9 starter HTML File
-->
<html ng-app="ZeldaApp">
    <head>
        <meta charset="utf-8">
        <title>List of Zelda Games</title>

        <!-- this is version 1.2.27 -->
        <script src="js/libs/angular.js/angular.js"></script>

        <!-- Professor Heines's collection of utility functions -->
        <script src="js/jmh-utilities.js"></script>

        <!-- Favicon link -->
        <link rel='shortcut icon' href="favicon.ico">

        <!-- 
            The below script was originally written by Prof. Heines,
            amd modified for this application.
        -->
        <script>
            "use strict";  // to ensure that all variables are declared before use

            // the number of the last column sorted, initialized to the Student Name column
            var lastSortColumnNo = 3;
            // a flag indicating whether the last sort was ascending (true) or descending (false)
            var lastSortDescending = false;

            // set up AngularJS module, note that name must be the same as that in the 
            //    ng-app attribute of the html tag above
            var myApp = angular.module('ZeldaApp', []);

            // set a constant to the JSON file path
            myApp.constant("jsonUrl", "json/listOfZeldaTitles.json");

            // add business logic to the app controller
            myApp.controller('ZeldaCtrl',
                    /** Read JSON data using Ajax - adapted from Pro AngularJS, p. 149.
                     *  @param $scope  the standard AngularJS model scope
                     *  @param $http   the built-in AngularJS http object containing the get function
                     *  @param jsonUrl the app constant containing the JSON file path (defined above)
                     */
                            function ($scope, $http, jsonUrl) {
                                $scope.jsonData = {};              // initialize an object in the model's scope
                                $http.get(jsonUrl)                // perform the Ajax call
                                        .success(function (data) {      // execute this function if the Ajax succeeds
                                            $scope.jsonData.data = data;   // set the model's jsonData.data property to the
                                        })                               //    data returned by the Ajax call
                                        .error(function (error) {      // execute this function if the Ajax fails
                                            $scope.jsonData.error = error; // set the model's jsonData.error property to the
                                        });                             //    error returned by the Ajax call


                                // set the initial sort field (release date) and sort order (ascending)
                                $scope.sortField = "DOR";
                                $scope.sortDescending = false;

                                /** 
                                 *  Sort column clicked in either ascending or descending order.
                                 *  Note that this could also be accomplished using the built-in AngularJS orderBy
                                 *    filter and manipulating the sort field and reverse parameters.
                                 *  Also note that this code could also have been incorporated into the ng-click 
                                 *    directives on the table's th elements, but doing it here gave me more central
                                 *    control, and I think that this function makes what's going on clearer and 
                                 *    therefore easier to maintain.
                                 *  @param colNo the number of the column header clicked
                                 */
                                $scope.sortColumn = function (colNo) {
                                    $scope.sortDescending = lastSortColumnNo === colNo && !lastSortDescending;
                                    // true to sort in descending order, false to sort in ascending order
                                    // will be false if sorting a new column or last sort was descending
                                    if (colNo === 2) {
                                        // this is the Name column
                                        $scope.sortField = "name";
                                    } else if (colNo === 3) {
                                        // this is the Date of Release column
                                        $scope.sortField = "DOR";
                                    } else if (colNo === 4) {
                                        // this is the Platform column
                                        $scope.sortField = "platform";
                                    }
                                    // save the sort paramesters for the next click
                                    lastSortDescending = $scope.sortDescending;
                                    lastSortColumnNo = colNo;
                                };

                                $scope.showImages = true;

                            }
                    );
        </script>

        <!-- filter functions for this app - created by Prof. Heines -->
        <script src="js/jmh-assn09-filters.js"></script>

        <!-- CSS Reset. Source can be found in the header of the CSS file itself. -->
        <link href="css/reset.css" rel="stylesheet">

        <!-- My CSS file for this assignment. -->
        <link rel="stylesheet" type="text/css" href="css/assignment9.css">
    </head>

    <body>
        <!-- SCM Music Player http://scmplayer.net -->
        <script type="text/javascript" src="http://scmplayer.net/script.js" 
                data-config="{'skin':'skins/black/skin.css','volume':100,'autoplay':true,'shuffle':true,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'Dragonroost Island','url':'https://www.youtube.com/watch?v=wRWq53IFXVQ'},{'title':'Dragonroost Island Zeldastep','url':'https://www.youtube.com/watch?v=kxPaLsZXjgk'},{'title':'Gerudo Valley','url':'https://www.youtube.com/watch?v=Hy0aEj85ifY'},{'title':'Gerudo Valley Zeldastep','url':'https://www.youtube.com/watch?v=DSHW_iLXTac'},{'title':'Legend of Zelda Main Theme Medley (25th Anniversary)','url':'https://www.youtube.com/watch?v=qkYSuWSPkHI'},{'title':'Lost Woods Zeldastep','url':'https://www.youtube.com/watch?v=NU75uz0b8EU'},{'title':'Song of Storms Zeldastep','url':'https://www.youtube.com/watch?v=yp3UeCguVVI'}]}" >
            
        </script>
        <!-- SCM Music Player script end -->

        <!-- the outer view -->
        <div>

            <!-- page head -->
            <h1 id="maintitle">List of games in the Legend of Zelda Franchise</h1>

            <!-- directions -->
            <p><em>Click any non-black header row cell to sort the list.</em></p>
            
            <!-- main controller view -->
            <div id = "tbl" ng-controller="ZeldaCtrl" >
                <!-- Inner div containing 'show cover images' checkbox and search input -->
                <div id='checkbox'>
                    <span>Show Cover Images: </span>
                    <input type='checkbox' ng-model="showImages"><br>
                    <span>Search: </span><input ng-model="query" type="text"/>

                </div>
                <!-- the table controlled by the AngularJS controller -->
                <table id="tblGames">
                    <!-- the column heads -->
                    <thead>
                        <tr>
                            <th>#</th>
                            <th ng-click="sortColumn(2)">Name</th>
                            <th ng-click="sortColumn(3)">Release<br>Date</th>
                            <th ng-click="sortColumn(4)">Platform</th>
                            <th ng-show="showImages">Cover</th>
                        </tr>
                    </thead>
                    <!-- 
                      AngularJS template for each row of the table 
                      the ng-model attribute causes the data to be re-rendered when the jsonData changes
                    -->
                    <tbody ng-model="jsonData">
                        <tr ng-repeat="oneSubmit in jsonData.data.RECORDS| orderBy : sortField : sortDescending | filter:query">

                            <!-- the built-in AngularJS loop index -->
                            <td>{{$index| increment}}</td>

                            <!-- the game's name -->
                            <td>{{oneSubmit.name}}</td>

                            <!-- 
                              The date the game was released - formatted using the AngularJS date formatter
                            -->
                            <td>{{oneSubmit.DOR| date:"MMMM d, yyyy"}}</td>
                            <td>{{oneSubmit.platform}}</td>
                            <td ng-show="showImages"><img alt='Cover for: {{oneSubmit.name}}' class='cover' ng-src='{{oneSubmit.coverURL}}'></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <!-- A footer div that contains the View Source, View CSS, and View Javascript links. -->
        <div id="footer">
            <footer>
                <div id="left">
                    <!-- Note: This link DOESN'T work in IE. -->
                    <a href="#" onClick='window.location = "view-source:" + window.location.href'>View HTML</a>
                </div>
                <div id="center">
                    <a href="css/assignment9.css">View CSS</a>
                </div>
                <div id="right">
                    <a href="json/listOfZeldaTitles.json">View JSON</a>
                </div>
            </footer>
        </div>
    </body>
</html>
