/*                                                                            
  Name: Virinchi Balabhadrapatruni                                             
  Email: Virinchi_Balabhadrapatruni@student.uml.edu                            
  UMass Lowell Computer Science, 91.461 GUI Programming I                      
  Date: 12/8/2014                                                               
  Description: CSS File created for Assignment #9.
  This file styles the music player.
*/ 

// style the div housing the player
#player {
    background-color: black;
    padding: 5px;
    vertical-align: central;

    // the following code is obtained from:
    // http://stackoverflow.com/questions/9620122/stop-html-text-being-highlighted
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    border-bottom: 2px solid white;
}

// remove all margins
body {
    margin: 0px;
}

// set the width of the audio tag
audio {
    width: 1150px;

}

// style the previous button
#prev-btn {
    float: left;
    padding-top: 5px;
    color: #999999;
    font-weight: bold;
    margin-right: 5px;
}

// style the two controls on the right
#controls-right {
    float: right;
    padding-top: 5px;
    color: #999999;
    font-weight: bold;

}

// style the next button
#next-btn {
    padding-right: 5px;
}

// style all links on hover
#prev-btn:hover, a:hover {
    color: #cccccc;
    cursor: default;
}

// style the table of songs
#tblSongs {
    background-color: white;
    float: right;
}

// style each row in the table of songs
.song {
    background-color: #cccccc;
    color: black;

}

// style hover for each row in the table of songs
.song:hover {
    background-color: #999999;
}

// style all children of each row in the table of songs
.song * {
    padding: 5px;
    margin: 0px;
}

// style the song title and loop text
#songtitle, #loop {
    color: white;
    padding: 5px;
    margin: 0px;
}



